header {
    position: fixed;
    width: 100%;
    padding: 15px;
    top: 0;
    left: 0;
    background-color: #32325D;
  }
 header img {
    max-width: 120px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin-left: 60px;
  } 